.html, body {
  background: url("./fundo.jpg");
  font-family: 'Josefin Sans', sans-serif;
}

.to-do {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid 1px black;
  margin: 5% 20% 0 20%;
  background-color: white;
}

.body button{
  margin: 10px;
  font-family: 'Josefin Sans', sans-serif;
}

.button-deletar {
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

